@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
}

body {
    background-image: url(./img/bathroom_background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    position: relative;
}

#table {
    /* borde */
    background-color: #43C6FF;
    background-image: url(./img/bubbles.png);
    background-size: contain;
    /* lo demás */
    border-image-source: url(./img/espejo.jpg);
    border-radius: 5px;
    border-image-slice: 100%;
    border-image-width: 5px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 200;
    position: relative;
    width: 720px;
    height: 720px;
    z-index: 0;
}

td {
    height: 30px;
    width: 30px;
}

.soap {
    background-image: url(./img/soap_player.png);
    background-size: 100%;
}

.safe-area {
    background-image: url(./img/bubbles.gif);
    background-size: 50px;
}

.obs1 {
    background-image: url(./img/red.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.obs2 {
    background-image: url(./img/yellow.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.obs3 {
    background-image: url(./img/purple.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.obs4 {
    background-image: url(./img/green.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#bathroom {
    background-image: url(./img/bathroom_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    margin-top: 50px;
    opacity: 100%;
}

/* 
#start-button {
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
}
 */
#start {
    background-image: url(./img/start_display.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    opacity: 100%;
    background-repeat: no-repeat;
}

.ending {
    background-color: black;
    text-align: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 100%;
    background-image: url(./img/bubbles2.gif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#soapgo {
    height: 250px;
    width: 400px;
}

h1 {
    color: white;
    font-size: 200px;
    margin: 10px;
}

.restart {
    background: #c507c5;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 40px;
    margin: 50px;
    padding: 5px;
    text-transform: uppercase;
    width: 200px;
}

.win {
    background-color: black;
    text-align: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 100%;
    background-image: url(./img/universe_win.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}